<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-header py-3 text-bg-primary border-dark">
    <h6>{{ title | titlecase }}</h6>
  </div>
  <div class="card-body">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-body">
        <ng-container *ngFor="let item of task; let i = index">
          <div class="d-flex text-muted pt-3">
            {{ i + 1 +"-" }}
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-dark">
                  {{ item.task | titlecase }}</strong>
              </div>
              <span class="d-flex">{{ item.description | titlecase }}</span>
            </div>
            <div class="btn-group dropend">
              <button
                type="button"
                class="btn btn-outline-primary dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                <i class="bi bi-chevron-right"></i>
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let action of actions"
                (click)="actionClicked(item, action)">
                  {{ action.title }}
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <app-add-card (handleValue)="onFormSubmit($event)"></app-add-card>
  </div>
</div>
