<div class="card mb-4 rounded-3 shadow-sm border-dark">
  <div class="card-header py-3 text-bg-dark border-light">
    <h4 class="my-0 fw-normal">
      <u> {{ title | titlecase }} </u>
    </h4>
  </div>
  <div class="card-body text-bg-danger">
    <div class="card mb-4 rounded-3 shadow-sm border-dark">
      <div class="card-body">
        <ng-container *ngFor="let detail of details">
          <div class="d-flex text-muted pt-3 mb-3">
            <svg
              class="bd-placeholder-img flex-shrink-0 me-2 rounded"
              width="32"
              height="32"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 32x32"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#007bff" />
              <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
            </svg>

            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex">
                <strong class="text-gray-dark">{{ detail.title }} </strong>
              </div>
              <span class="d-block">{{ detail.description }} </span>
            </div>

            <div class="btn-group dropend">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                  />
                </svg>
              </button>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">In Progress</a></li>
                <li><a class="dropdown-item" href="#">Ready for QA</a></li>
                <li><a class="dropdown-item" href="#">Production</a></li>
              </ul>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <app-add-card></app-add-card>
  </div>
</div>
