<div class="container py-3">
  <app-header></app-header>

  <main>
    <div class="row mb-3 text-center">
      <div class="col-md-3">
        <app-task
          [title]="'Ready for developement'"
          [tasks]="developement"
          [actions]="filterAction(['For Developement'])"
          (onClickedAction)="handleAction($event, 'developement')"
          (handleFormSUbmit)="addTAsk($event, 'developement')">
      </app-task>
      </div>
      <div class="col-md-3 border-primary">
       <app-task
        [title]="'In Progress'"
        [tasks]="progress"
        [actions]="filterAction(['In progress'])"
        (onClickedAction)="handleAction($event, 'progress')"
        (handleFormSUbmit)="addTAsk($event, 'progress')">
        </app-task>
      </div>
      <div class="col-md-3">
        <app-task
          [title]="'Ready for Qa'"
          [tasks]="qA"
          [actions]="filterAction(['Ready for QA'])"
          (onClickedAction)="handleAction($event, 'qA')"
          (handleFormSUbmit)="addTAsk($event, 'qA')">
        </app-task>
      </div>
      <div class="col-md-3">
        <app-task
          [title]="'Production'"
          [tasks]="production"
          [actions]="filterAction(['Production'])"
          (onClickedAction)="handleAction($event, 'production')"
          (handleFormSUbmit)="addTAsk($event, 'production')">
        </app-task>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
